---
name: "Test-Futureproof-Language"
on: # yamllint disable-line rule:truthy
  push:
  pull_request:
  workflow_dispatch:
jobs:
  Test-Futureproof-Language:
    runs-on: "ubuntu-24.04"
    steps:
    - uses: "actions/checkout@v4"
    - uses: "dtolnay/rust-toolchain@stable"
      with:
        toolchain: "stable"
    - name: "provision dev tools"
      run: "make -f install.mk"
    - run: "make test"
